{% load static %}

<div class="box">
                            <div class="box-header">
                                <div class="box-toggle" data-toggle="collapse" href="#collapseExample1" role="button"
                                    aria-expanded="true" aria-controls="collapseExample1">
                                    دسته بندی نتایج
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </div>
                            </div>
                            <div class="box-content">
                                <div class="collapse show" id="collapseExample1">
                                    <div class="ui-input ui-input--quick-search">
                                        <input type="text" class="ui-input-field ui-input-field--cleanable"
                                            placeholder="نام دسته بندی مورد نظر را بنویسید…">
                                        <span class="ui-input-cleaner"></span>
                                    </div>
                                    <div class="filter-option">
                                        <div class="checkbox">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1">
                                                ریمکس
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <input id="checkbox2" type="checkbox">
                                            <label for="checkbox2">
                                                باسئوس
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <input id="checkbox3" type="checkbox">
                                            <label for="checkbox3">
                                                اپل
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <input id="checkbox4" type="checkbox">
                                            <label for="checkbox4">
                                                نیلکین
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <input id="checkbox5" type="checkbox">
                                            <label for="checkbox5">
                                                راک
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <input id="checkbox6" type="checkbox">
                                            <label for="checkbox6">
                                                توتو
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <input id="checkbox7" type="checkbox">
                                            <label for="checkbox7">
                                                فراری
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>